<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Faktura</title>
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="fillindata.js"></script>
    </head>
    <body>
        <div class="horizontal">
            <div class="h-column">
                <h1>Sprzedawca</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nazwa firmy</th>
                            <th>NIP</th>
                            <th>Imię sprzedawcy</th>
                            <th>Nazwisko sprzedawcy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Paweł's Co Ltd.</td>
                            <td>123-123-12-12</td>
                            <td>Jan</td>
                            <td>Nowak</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="h-column">
                <div class="h-column">
                    <h1>Nabywca</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>NIP</th>
                                <th>Imię łącznika</th>
                                <th>Nazwisko łącznika</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody id="clientDisplay"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="vertical margin-vertical">
            <table>
                <thead>
                    <tr>
                        <th>Nazwa produktu</th>
                        <th>Kod produktu</th>
                        <th>Cena Netto</th>
                        <th>Podatek</th>
                        <th>Do zapłaty</th>
                    </tr>
                </thead>
                <tbody id="productDisplay"></tbody>
            </table>
        </div>
    </body>
</html>
