.horizontal {
    display: flex;
    flex-direction: row;
}
.h-column {
}

.vertical {
    display: flex;
    flex-direction: column;
}
.v-column {
}

table,
th,
td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

input:invalid.borderable {
    box-shadow: 0 0 4px red;
}

input:valid.borderable {
    box-shadow: 0 0 4px green;
}
